
.footer_span{
    color: #9e9e9e;
    margin: 10px;
}
.footer_span span{
    color:var(--main-color);
}


.footer_content{
    display: flex;
    justify-content: space-between;
}

footer ul .icons{
    height: 3rem;
}

