.projects_container {
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
  justify-content: space-evenly;
  position: relative;
  width: 100vw;
  /* height: 60vh; */
  flex-wrap: wrap;
  font-family: "Courier New", Courier, monospace;
}

.value {
  font-size: 7rem;
  font-weight: 700;
  margin: 1rem;
  color: var(--main-color);
}

.project_item {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  padding: 3rem;
  height: 15rem;
  width: 20rem;

  margin: 2.5vw;
  border-radius: 1rem;
  transition: all 3s linear;
  /*transition:  3s linear;
    */
  position: relative;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  /*box-shadow: var(--main-color) 3px 5px 6px;
    */
  overflow: hidden;
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -ms-transition: all 3s linear;
  -o-transition: all 3s linear;
}
.project_item .img1 {
  position: absolute;
  height: 10rem;
  width: 100%;
  left: 1px;
  top: 25%;
  filter: blur(1px) brightness(var(--brightness));
  cursor: pointer;
  transition: filter 0.75s;
  -webkit-filter: blur(1px) brightness(var(--brightness));
  background-image: url(/assets/hulu.png);
  background-size: 100%;
  border-radius: 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.project_item .img2 {
  position: absolute;
  height: 10rem;
  width: 100%;
  left: -1%;
  top: 25%;
  filter: blur(1px) brightness(var(--brightness));
  cursor: pointer;
  transition: filter 0.75s;
  -webkit-filter: blur(1px) brightness(var(--brightness));
  background-image: url(/assets/DrawingApp.png);
  background-size: 100%;
  border-radius: 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.project_item .img3 {
  position: absolute;
  height: 10rem;
  width: 100%;
  left: -1%;
  top: 25%;
  filter: blur(1px) brightness(var(--brightness));
  cursor: pointer;
  transition: filter 0.75s;
  -webkit-filter: blur(1px) brightness(var(--brightness));
  background-image: url(/assets/weatherapp.png);
  background-size: 100%;
  border-radius: 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.project_item .img4 {
  position: absolute;
  height: 10rem;
  width: 100%;
  left: -1%;
  top: 25%;
  filter: blur(1px) brightness(var(--brightness));
  cursor: pointer;
  transition: filter 0.75s;
  -webkit-filter: blur(1px) brightness(var(--brightness));
  background-image: url(/assets/google.png);
  background-size: 100%;
  border-radius: 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
@keyframes reduceBrightness {
  0% {
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
  }
  50% {
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
  }
  100% {
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
  }
}
.project_item:hover .img1,
.project_item:hover .img2,
.project_item:hover .img3,
.project_item:hover .img4 {
  animation: 7s linear reduceBrightness;
  -webkit-animation: 7s linear reduceBrightness;
}
.project_item:hover .icon_globe {
  display: flex;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.project_item:hover .icon_git {
  display: flex;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.project_item .title {
  position: absolute;
  top: 2.5%;
  font-size: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 1rem;
}
.project_item .info {
  color: var(--btn-color);
  position: absolute;
  font-size: 0.75rem;
  left: 2.5rem;
  top: 10%;
  width: 70%;
  overflow: hidden;
}
.project_item .effect {
  height: 2rem;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 6.5%;
  background-color: var(--main-text-color);
  z-index: 1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.stack {
  position: absolute;
  bottom: -0.25rem;
  left: 1rem;
  width: 80%;
  height: auto;
  display: grid;
  /* justify-content: space-evenly; */
  flex-direction: row;
  /* margin: 0 1rem; */
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
}
.stack_item {
  background-color: var(--btn-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  height: fit-content;
  margin: 0.5rem;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--main-color);
}
.icon_globe {
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 33%;
  height: 2.75rem;
  width: 2.75rem;
  background-image: url(/icons/globe-solid.svg);
  filter: brightness(0) saturate(100%) invert(37%) sepia(39%) saturate(4541%)
    hue-rotate(208deg) brightness(102%) contrast(99%);
  -webkit-filter: brightness(0) saturate(100%) invert(37%) sepia(39%)
    saturate(4541%) hue-rotate(208deg) brightness(102%) contrast(99%);
  cursor: pointer;
  transform: translateX(-1000%);
  -webkit-transform: translateX(-1000%);
  -moz-transform: translateX(-1000%);
  -ms-transform: translateX(-1000%);
  -o-transform: translateX(-1000%);
  transition: 0.75s transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: 0.75s transform 0.75s
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: 0.75s transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: 0.75s transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: 0.75s transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hide {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.icon_git {
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 66%;
  height: 2.75rem;
  width: 2.75rem;
  background-image: url(/icons/github-brands.svg);
  filter: brightness(0) saturate(100%) invert(37%) sepia(39%) saturate(4541%)
    hue-rotate(208deg) brightness(102%) contrast(99%);
  -webkit-filter: brightness(0) saturate(100%) invert(37%) sepia(39%)
    saturate(4541%) hue-rotate(208deg) brightness(102%) contrast(99%);
  cursor: pointer;
  transform: translateX(-1000%);
  -webkit-transform: translateX(-1000%);
  -moz-transform: translateX(-1000%);
  -ms-transform: translateX(-1000%);
  -o-transform: translateX(-1000%);
  transition: transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
@media (min-width: 22.5rem) and (max-width: 27.5rem) {
  .project_item {
    height: 15rem;
    width: 10rem;
  }
  .project_item .info {
    font-size: 0.7rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    white-space: normal;
    height: 1.5rem;
  }
  .stack {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
  }
  .stack_item {
    font-size: 0.7rem;
  }
  .info {
    font-size: 0.7rem;
  }
}
@media (max-width: 27.5rem) {
  .project_item img {
    cursor: default;
  }
}
