*,::after,::before{
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}
:root{
    --main-color:#0f0f0f;
    --secondary-color:#222222c7;
    --main-text-color:#e6e6cb;
    --btn-color:hsl(273, 64%, 52%);
    --btn-color-light:#9d57d6fb;
    --variant-color:hsl(273, 62%, 25%);
    --main-light-color:hsl(0, 0%, 11%);
    --main-gray:rgb(177, 176, 176);
    --brightness:80%;
    --filter-icon: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(263deg) brightness(105%) contrast(107%);
    --icon:url('./icons/sun.svg');
    --astronaut:url(/assets/aboutme-Img1.jpg);
}
html{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    transition: all 3s linear;
    -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -o-transition: all 3s linear;
}
.toggle_mode{
   height: 2rem;
   width: 2rem;
   position: absolute;
   right: 10%;
   top: 2rem;
   cursor: pointer;
   background:var(--icon);
   background-repeat: no-repeat;
   filter:var(--filter-icon);
   -webkit-filter:var(--filter-icon);
   position: fixed;
   z-index: 10;
}
.toggle_mode-mobile{
    height: 2rem;
    width: 2rem;
    position: absolute;
    /* right: 20%;
    top: 70%; */
    cursor: pointer;
    background:var(--icon);
    background-repeat: no-repeat;
    filter:var(--filter-icon);
    -webkit-filter:var(--filter-icon);
    position: fixed;
    z-index: 10;
 }
.light_mode{
    --main-color:hsl(0, 0%, 90%);
    --main-text-color:#3b3b3b;
    --main-light-color:hsl(0, 0%, 72%);
    --brightness:100%;
    --filter-icon: filter: brightness(0) saturate(100%) invert(17%) sepia(4%) saturate(13%) hue-rotate(27deg) brightness(99%) contrast(82%);
    --icon:url('./icons/moon.svg');
    --astronaut: url(/assets/lightastronaut.png);
    --main-gray:rgb(87, 86, 86);
}

body{
    background-color: var(--main-color);
    color: var(--main-text-color);
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
   position: relative; 
}
main{
    width: 100%;

}

body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    scrollbar-width: 0;
    -ms-overflow-style: none;
  }
#main_content{
    display: none;
}
a{
    text-decoration :none;
    color:var(--main-text-color);
}
div{
    display: flex;
    flex-direction: column;
}

.navbar-container{
    width: 100vw;
    overflow: none;
    display: flex;
    flex-direction: row;
    margin:2rem;
    height: 15vh;
}
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--btn-color);
}
.navbar-links a{
    text-decoration: none;
    color: gray;
}
.navbar-links a:hover,.navbar-links a:focus{
    color: var(--btn-color);
}
.navbar-content>ul li{
    text-decoration: none;
    list-style: none;
    margin-left: 3rem;
    font-weight: 600;
}
.navbar-logo{
    align-self: flex-start;
}

.contact_button{
    padding:.75rem 1.5rem;
    border: solid var(--btn-color) 2px;
    background-color: transparent;
    color: var(--btn-color);
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1rem 0;
    transition: 3s all cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 1.2rem;
    width: 12rem;

}
.contact_button a{
    font-size: 1.2rem;
    color: var(--btn-color);
    text-shadow: 0 0 0 .125 white
     0 0 0 0.125em var(--btn-color) ;
}
.contact_button:hover a{
    color: white;
}

.contact_button:hover{
    color: white;
    border:solid var(--btn-color-light) 2px;
    background-color: var(--btn-color-light);
}
h1{
    font-size: 2rem;
    /* text-align:center ; */
}
.about-me{
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 70vh;
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    overflow-x: hidden;
    transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
    -moz-transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
    -ms-transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
    -o-transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
}
.about-me__title{
    width: 10rem;
    height: 50%;
    /* text-align: center; */
    overflow-x: hidden;
}
.about-me__info .name{
    width: 60%;
}
.about-me__name{
    height:90%;
    width: 40%;
}

.about-me__special{
    background-color: var(--btn-color);
    height: .2rem;
    margin-top: .5rem;
    width: 6rem;
    overflow-x: hidden;
    animation: 4s linear forwards specialAnimation infinite;
}

.about-me__link{
    color: grey;
    padding:1rem 0rem;
}
.about-me__image{
    height: 12rem;
    width: 12rem;
    position: relative;
    background-image: url(/assets/Korede.2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: .5rem;
}
.socials{
    display: flex;
    flex-direction: row;
    /* height: 1rem; */
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
}
.icon_socials{
    height: 2rem;
    margin: .5rem;
    object-fit: contain;
    /*filter: invert(1) sepia(0) saturate(130%) hue-rotate(10deg);
    */fill: rgb(24, 23, 23);
    cursor: pointer;
  
}
.icon_socials:hover{
  fill: var(--btn-color);
 
}
.icon_socials svg{
    height: 1.5rem;
    transition:all 3s cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
    -webkit-transition:all .75s cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
    -moz-transition:all 3s cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
    -ms-transition:all 3s cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
    -o-transition:all 3s cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
}
footer .socials .icon_socials svg:hover{
    fill: var(--main-color);
}
.about-me__info{
    /* height: 3rem; */
    width:65%;
    margin-left:1.5rem;

}

.img{
    object-fit: contain;
    height: 100%;
    /* border-radius: 10px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: brightness(70%);
    position: absolute;
    
    top: 0;
    /* box-shadow: 0 0 15px 2px rgb(0 0 0 / 20%); */
    /* border: solid white 5px; */
    
}

.image-effect{
    position: absolute;
    top: -10%;
    left: 35%;
    background-color: var(--variant-color);
    filter: blur(60px);
    height: 30%;
    width: 30%;
    border-radius: 50%;
    z-index: -1;
    animation: 5s 2s linear forwards specialAnimation2;
}
.about-me__info-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-effect_1{
    position: absolute;
    top: 60%;
    left: -10%;
    background-color: var(--variant-color);
    filter: blur(60px);
    height: 30%;
    width: 30%;
    border-radius: 50%;
    z-index: -1;
    animation: 5s 2s linear forwards specialAnimation2 infinite;
}
.about-me__info-header{
    margin: 1.25rem 0;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%)
    
}
.about-me__info .name{
    font-size: 1.2rem;
    font-weight: 600;
    overflow: hidden;
    border-right: .15em solid white;
    /* width: 5rem; */
    white-space: nowrap;
    animation: typing 5s steps(13,end) 1.5s,
                blink-caret .5s step-end infinite;
}
@keyframes typing {
    from{width: 0;}
    to{width: 100%;}
}

@keyframes blink-caret{
    from,to{border-color: transparent;}
    50%{border-color: #ffffff;}
}
.about-me_greeting{
    color: var(--btn-color);
    letter-spacing: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 1rem; */
}
.about-me__text{
    color: rgb(109, 109, 109);
    width: 80%;
}
@keyframes specialAnimation2 {
    100%{
        top: 40%;
        left: 10%;
    }

}

@keyframes specialAnimation {
    0%{
        transform: translateX(-100%) 
    }
    100%{
       transform: translateX(150%) 
    }

}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--main-light-color) ;
    margin: 0;
    min-height: 85vh;
    position: relative;
    width: 100vw;
    overflow: visible;
    justify-self: start;
    border-top: solid 4px var(--btn-color-light);
    border-bottom: solid 4px var(--btn-color-light);
    /* transform: translateX(2rem); */
}
.skills_greeting{
    color: var(--btn-color);
    font-weight: 700;
    text-align: center;
}

.skills_info{
    padding: 1rem ;
    margin-top: 1rem;
}

.framework{
   /* display:flex ; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    /* margin: 2rem 4rem; */
    width: 100vw;
    position: relative;
    display: none;
}
.framework p{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--btn-color);
    
}
.orbit_parent{
    position: relative;
    height: 25rem;
    width: 25rem ;
    
}
.orbit{
    background-color: var(--main-light-color);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    /* transform-origin: center;
    animation: orbit 25s linear infinite; */
    
}
.center{
    /*background-color: var(--main-text-color);
    */position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
    border-radius: inherit;
    display: grid;
    place-content: center;
    background-image: url('/assets/IMG_20220427_041903_922.jpg');
    background-size: 100%;
    background-position: center;
    
}
.icon_center{
    height: 3rem;
    width:3rem;
   
}
.orbit1{
    position: absolute;
    right: -1rem;
    top: -1rem;
    background-color: var(--btn-color);
    z-index: -1;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
.orbit_object img{
    height: 3rem;
}
.orbit_object .img{
    height: 5rem;
}
.orbit2{
    position: absolute;
    right: -1rem;
    top: 11rem;
    background-color: var(--btn-color);
    z-index: -1;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
li{
    list-style: none;
}
.orbit_object{
    border-radius: 50%;
    display: grid;
    place-content: center;
    height: 4rem;
    width: 4rem;
}
.orbit_object:first-child{
    position: absolute;
    top: 45%;
    left: 2%;
    /* top: 6rem;
    left: 15rem; */
    background-color: rgba(86, 207, 255, 0.589);
  
}
.orbit_object:nth-child(2){
    position: absolute;
    bottom: 20%;
    right: 5%;   
    /* top: 6rem;
    right: 15rem; */
    /* background-color: rgba(5, 85, 235, 0.589); */
}
.orbit_object:nth-child(3){
    position: absolute;
    top: 20%;
    right: 5%;   
    /* bottom: 6rem;
    right: 15rem; */
    /* background-color: rgba(5, 85, 235, 0.589); */
    
}

.orbit_object:nth-child(4){
    position: absolute;
    top: 2%;
    left: 35%;
    transform:rotate(-10deg) ;
    -webkit-transform:rotate(-10deg) ;
    -moz-transform:rotate(-10deg) ;
    -ms-transform:rotate(-10deg) ;
    -o-transform:rotate(-10deg) ;
   
}
.orbit_object:nth-child(5){
    position: absolute;
    bottom: 2%;
    left: 35%;
   
}
.orbit_objects{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    position: relative;
    transform-origin: center;
    cursor: pointer;
    animation: orbit infinite 60s;
    -webkit-animation: orbit infinite 60s;
}
.orbit_objects:hover{
    animation-play-state: paused;
}
.orbit_objects:hover > *{
    animation-play-state: paused;
}
@keyframes orbit {
    100%{
        transform: rotate(360deg);
        rotate: 0turn;
    }
}
@keyframes orbitChild{
    100%{
        transform: rotate(360deg);
        rotate: 0turn;
    }
}
.more_about{
    margin: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--main-color) ;
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow: visible;
    background-image:var(--astronaut);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(var(--brightness));
    position: relative;
    -webkit-filter: brightness(var(--brightness));
}
.more_about p{
    /* text-align: center; */
    color: #ffffff;
   margin-top: 1.5rem;
}
.more_about-title{
    /* color: var(--btn-color); */
    color: var(--main-text-color);
    margin: 1rem;
}
.more_about-content{
    width: 45vw;
    /* text-align: center; */
    color: #ffffff;
    background-color: rgba(59, 59, 59, 0.493);
    /* background-image: linear-gradient(to right,  rgba(0, 0, 0, 0.527),rgba(0,0,0,0)); */
    padding: 2rem;
    border-radius: 10px;
}
.more_about-content .special{
    color: #ff1cff;
    font-weight: 600;
    transition: .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.more_about-content .special:hover{
    color: var(--main-text-color);
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--btn-color) ;
    margin: 0;
    min-height: 10vh;
    position: relative;
    /* width: 110vw; */
    overflow: visible;
    /* transform: translateX(2rem); */

}
.position_marker{
    height: 4rem;
    width: 4rem;
    position: fixed;
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
  bottom: 20%;
    border-radius: 40%;
    align-items: center;
}
.position_marker-line{
    border:solid var(--main-text-color) 2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: width 3s ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.active{
   border:solid var(--btn-color-light) 2px;
   background-color: var(--btn-color-light);
    /* width: 100%; */
}

/* scrollbar */

::-webkit-scrollbar{
    width: 5px;
    cursor: pointer;
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color:var(--secondary-color);
}
::-webkit-scrollbar:hover{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--variant-color);
    border-radius: 5px;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--main-light-color) ;
    margin: 0;
    min-height: 85vh;
    position: relative;
    width: 100vw;
    overflow: visible;
    justify-self: start;
}
.address{
    width: 50vw;
    text-align: center;
    font-size: 1.25rem;
}
.address_email{
    color:var(--btn-color-light);
    text-decoration: none;
}
.address_quote{
    margin: 3rem 0;
}
/*-------------------------- preloader -------------------------*/

#preloader{
    background: var(--btn-color);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin: 0;
    flex-direction: column;
    top: 0;
}
.loader{
    display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
    width: 30vw;
}
.loader_container{
    display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
    height: 100vh;
    width: 80vw;
}
.loader_box{
    height: .5rem;
    width: 4rem;
    background-color: var(--secondary-color);
    animation: 10s loadingAnimation infinite backwards;
    border-radius: 3px;
    margin-right: .5rem;
    -webkit-animation: 10s loadingAnimation infinite backwards;
}
@keyframes loadingAnimation {
    25%{
        transform: translateX(1000%) rotate(180deg);
        -webkit-transform: translateX(1000%) rotate(180deg);
        -moz-transform: translateX(1000%) rotate(180deg);
        -ms-transform: translateX(1000%) rotate(180deg);
        -o-transform: translateX(1000%) rotate(180deg);
}
   
 50%{
        transform: translateX(0%);
       
    }
    75%{
        transform: translateX(-700%)  rotate(-180deg);
        -webkit-transform: translateX(-700%)  rotate(-180deg);
        -moz-transform: translateX(-700%)  rotate(-180deg);
        -ms-transform: translateX(-700%)  rotate(-180deg);
        -o-transform: translateX(-700%)  rotate(-180deg);
}
}
.quote{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-left:20vw;
    margin-bottom: 8vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar_mobile-bar{
    position: fixed;
    background-color:var(--main-color);
    box-shadow: 0px 3px 15px rgba(48, 47, 47, 0.3);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s ease;
    top: 3%;
    right: 4%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    padding: .5rem;
    cursor: pointer;
    display: none;
    border: none;
    transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}
.nav_line{
    transition: all ease-in 0.4s;
}

.line1{
    height: 2px;
    width: 16px;
    background-color:var(--btn-color);
    transition: transform 0.4s ease-in;
    -webkit-transition: transform 0.4s ease-in;
    -moz-transition: transform 0.4s ease-in;
    -ms-transition: transform 0.4s ease-in;
    -o-transition: transform 0.4s ease-in;
}
  .line2{
    width: 36px;
    background-color:var(--btn-color);
    height: 2px;
    transition: transform 0.4s ease-in;
    -webkit-transition: transform 0.4s ease-in;
    -moz-transition: transform 0.4s ease-in;
    -ms-transition: transform 0.4s ease-in;
    -o-transition: transform 0.4s ease-in;
}
  .line3{
    width: 28px;
    background-color:var(--btn-color);
    height: 2px;
    transition: transform 0.4s ease-in;
    -webkit-transition: transform 0.4s ease-in;
    -moz-transition: transform 0.4s ease-in;
    -ms-transition: transform 0.4s ease-in;
    -o-transition: transform 0.4s ease-in;
}
.toggle .line1{
    background-color:white; 
    transform: rotate(45deg) translateY(-1px) translateX(3px);
    -webkit-transform: rotate(45deg) translateY(-1px) translateX(3px);
    -moz-transform: rotate(45deg) translateY(-1px) translateX(3px);
    -ms-transform: rotate(45deg) translateY(-1px) translateX(3px);
    -o-transform: rotate(45deg) translateY(-1px) translateX(3px);
}
.toggle .line2{
    background-color:white;
    transform: rotate(-45deg) ;
    -webkit-transform: rotate(-45deg) ;
    -moz-transform: rotate(-45deg) ;
    -ms-transform: rotate(-45deg) ;
    -o-transform: rotate(-45deg) ;
}
.toggle{ background-color: var(--btn-color);}
.toggle .line3{
    background-color:white;
    transform: rotate(45deg) translateY(-13px) ;
    -webkit-transform: rotate(45deg) translateY(-13px) ;
    -moz-transform: rotate(45deg) translateY(-13px) ;
    -ms-transform: rotate(45deg) translateY(-13px) ;
    -o-transform: rotate(45deg) translateY(-13px) ;
}

.navbar_mobile{
    flex-direction: column;
    align-items: center;
    /*display: none;
    */z-index: 100;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(120%);
    transition:0.4s transform 0.4s ease-in ;
    padding: 1rem;
    background-color: hsl(0 0% 0% / 0.1);
    backdrop-filter: blur(1rem);
    -webkit-transition:0.4s transform 0.4s ease-in ;
    -moz-transition:0.4s transform 0.4s ease-in ;
    -ms-transition:0.4s transform 0.4s ease-in ;
    -o-transition:0.4s transform 0.4s ease-in ;
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
}
.navbar_mobile .nav-links{
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    margin-top: 5rem;
    height: 100%;
    
}
.navbar_mobile .nav-links li{
    flex-direction: column;
    justify-content: space-evenly;
    padding:.75rem 1.5rem;
    border: solid var(--btn-color) 2px;
    background-color: transparent;
    color: var(--btn-color);
    font-size: 1.15rem;
    font-weight: 700;
    border-radius: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 3rem 0;
    transition: 3s all cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 1.2rem;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.navbar_mobile .nav-links li:last-child{
    border: transparent;
    
}
.navbar_mobile .nav-links li:last-child:hover{
    border:transparent;
    background-color:transparent;
    
}
.navbar_mobile .nav-links li a{
    color: var(--btn-color);
}
.navbar_mobile .nav-links li:hover{
    color: white;
    border:solid var(--btn-color-light) 2px;
    background-color: var(--btn-color-light);
}
.navbar_mobile .nav-links li:hover a{
    color: white;
    
}


.nav_line{
    height: .2rem;
    width: 2.25rem;
    background-color: var(--btn-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.nav_line:nth-child(2){
    width: 1.75rem;
}

@media (min-width:22.5rem ) and (max-width:27.5rem){
    .orbit_parent{
        position: relative;
        height: 10rem;
        width: 10rem;
    }
    .toggle_mode{
      display: none;
     }
     .toggle_mode-mobile{
        display: flex;
       }
       .address{
        width: 50vw;
        text-align: center;
        font-size: 2rem;
    }
    .project_item{
        margin-left:1rem ;
        margin-top: 3rem;
    }
}
@media (max-width:27.5rem){
    .orbit_parent{
        position: relative;
        height: 60%;
        width: 95%;
    }
}


@media (max-width:48rem){
    .toggle_mode{
        display: none;
       }
       .toggle_mode-mobile{
        display: flex;
       }
    .navbar_mobile-bar{
        display: flex;
    }
    .navbar-container{
        display: none;
    }
    .navbar_mobile .navbar-content{
        display: flex;
    }
    .quote{
        font-size: 1.25rem;
    }
    .about-me__info{
        /* height: 3rem; */
        width:80%;
    }
    .more_about-content{
        width: 75vw;
    
    }
    .about-me__image{
        height: 16rem;
        width: 16rem;
    }
    
    .hand{
        display: none;
    }
    .position_marker{
        display: none;
    }
    .address{
        width: 50vw;
        text-align: center;
        font-size: 1.75rem;
    }
    .project_item{
        margin-left:2rem ;
        margin-top: 3rem;
    }
   
}
@media(max-width:63.875rem){
    .about-me{
        flex-wrap: wrap;
    }
    /* .navbar_mobile{
        display: flex;
    } */
   
}
@media(min-width:63.875rem){
    .navbar_mobile{
        display: none;
    }
   
}